<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="AuthClientID" value=""  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />		
		<add key="AuthClientSecret" value=""  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
		<add key="AuthCallBack" value=""  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
		<add key="ApplicationDataPath" value="" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="ApplicationName" value="SampleConnector" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="LogLevel" value="DEBUG"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>